<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="./app/static/css/layui.css">
	<script type="text/javascript" src="./app/static/layui.js"></script>
</head>
<body>
<div id="app">
	<button @click="GetRes()" class="layui-btn layui-btn-normal">搜索</button>
	<input type="text" v-model="key" placeholder="请输入关键词"><br>
	<div class="layui-progress">
	  <div class="layui-progress-bar" :style="{width:percent+'%'}" lay-percent="10%"></div>
	</div>
	<div v-if="ImgCode_Show">
		<button @click="MemberCode()">确定</button>
		<input type="text" v-model="code" placeholder="请输入验证码">
		<img :src="ImgCode">
	</div>
	<div v-if="ListCode_Show">
		<button @click="ListCode()">确定</button>
		<input type="text" v-model="code" placeholder="请输入验证码">
		<img :src="ListCode">
	</div>
</div>
<script type="text/javascript" src="./app/js/vue.js"></script>
<script type="text/javascript" src="./app/js/app.js"></script>
</body>
</html>